body{
    background-image: url('images/background_main.png');
    background-attachment: fixed;
    background-size: cover;    
    


}
#IniciarSesion{
    --bs-btn-padding-y: 30px; --bs-btn-padding-x: 40px; --bs-btn-font-size: 20px;
    
    

}
#Registrarse{
    --bs-btn-padding-y: 30px; --bs-btn-padding-x: 40px; --bs-btn-font-size: 20px;
    

}


.container{
    margin-top: 3%;
    margin-right: 20%;
    position: relative;
    left: 20%;
    
}
#uno{
    color:#ffff;
    --bs-nav-link-color:var(color);
    
    
}
#uno_uno{
    color:#ffff;
    --bs-dropdown-link-hover-bg:var(color);

}
#dos{
    color:#ffff;
    --bs-nav-link-color:var(color); 

}
#tres{
    color:#ffff;
    --bs-nav-link-color:var(color); 

}

#text1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 255, 255);
    font-size: 40px;
    
}

#text2{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
#logo{
    margin-bottom: -10%;
    
    
}
